@font-face {
  font-family: "Michroma";
  src: url("./fonts/Michroma.ttf") format("truetype");
}

@font-face {
  font-family: "PT Mono";
  /* webpackIgnore: true */
  src: url("./fonts/pt-mono.bold.woff2") format("woff2"),
    /* webpackIgnore: true */
      url("./fonts/pt-mono.bold.woff") format("woff"),
    /* webpackIgnore: true */
      url("./fonts/pt-mono.bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'PT Mono', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  padding: 1rem;
}

.App-container {
  margin: 0 auto;
  max-width: 1188px;
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 1.5rem;
}

.bars {
  position: absolute;
  right: 1.5rem;
  top: 44px;
}

.App-main {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
}

.inputContainer {
  margin-top: 10px;
  max-width: 1008px;
  position: relative;
}

.inputContainer button {
  background: transparent;
  border: 0px;
  color: white;
  font-family: 'PT Mono', 'Courier New', sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute; 
  right: 0;
  height: 100%;
  padding-right: 2rem;
  text-transform: uppercase;
}

#enterCode {
  appearance: none;background: linear-gradient(90deg, #1B0000 0%, #180000 45%, #0F0000 74%, #000000 99%, #000000 100%);
  border: 2px solid white;
  border-radius: 10px;
  color: #fff;
  font-family: 'Michroma', sans-serif;
  font-size: 48px;
  font-weight: 600;
  padding: 15px 130px 15px 15px;
  width: 100%;
}

#enterCode::placeholder {
  color: #fff;
}

.App-footer {
  align-items: center;
  display: grid;
  grid-template-columns: 1.25fr 1fr 1.75fr;
  max-width: 1188px;
  position: relative;
}

.App-footer * {
  flex: 1;
}

.lasersContainer span {
  display: block;
  padding-left: 3.5rem;
}

.deniedScreen,
.acceptedScreen {
  align-items: center;
  display: flex;
  padding: 4rem 0;
  justify-content: center;
  height: 572px;
}

.dots {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: space-between;
  padding: 2rem 1.5rem 0;
  width: 100%;
}

.dots span {
  font-size: 20px;
  line-height: 20px;
}
